In [1]:
# Strings
# Never use reserve keywords.
s="OM Jai Santhoshimatha"

In [2]:
# shift tab to know the info of the function
# shift Enter to execute current cell
print(s)

OM Jai Santhoshimatha

In [4]:
str1="A good boy"
str2="A bad boy"

In [5]:
print(str1),print(str2)

A good boy
A bad boy

(None, None)

In [6]:
str1+str2

'A good boyA bad boy'

In [7]:
str1+" "+str2

'A good boy A bad boy'

In [8]:
name=input("Enter your Name : ")
print(name)

Enter your Name : Manidhar Kumar Karnatakam
Manidhar Kumar Karnatakam

In [9]:
### Add 2 numbers
## What ever value we get from input it will be always string
a=input("Enter number 1 :")
b=input("Enter number 2 :")
c=a+b
print("The output is",c)

Enter number 1 :23
Enter number 2 :34
The output is 2334

In [10]:
a=float(input("Enter number 1 :"))
b=float(input("Enter number 2 :"))
c=a+b
print("The output is",c)

Enter number 1 :21.5
Enter number 2 :22.4
The output is 43.9

In [11]:
a=float(input("Enter number 1 :"))

Enter number 1 :test

ValueError: could not convert string to float: 'test'

In [15]:
### string Formatting
f_name=input("What is your first name ?")
l_name=input("What is your last name ?")
print("Welcome to the world of Data science",f_name,l_name)
print("My first name is {} and last name is {}".format(f_name,l_name))
print("My first name is {} and last name is {}".format(l_name,f_name))
print("My first name is {fname} and last name is {lname}".format(lname=l_name,fname=f_name))

What is your first name ?Manidhar
What is your last name ?Karnatakam
Welcome to the world of Data science Manidhar Karnatakam
My first name is Manidhar and last name is Karnatakam
My first name is Karnatakam and last name is Manidhar
My first name is Manidhar and last name is Karnatakam

### Variable Dynamic Typing

In [17]:
a=10
type(a)

int

In [18]:
b=10.5
type(b)

float

In [19]:
a="Mani"
type(a)

str

In [20]:
## String Typing
'Manidhar' + 1

TypeError: can only concatenate str (not "int") to str

In [21]:
'Manidhar'+str(1)

'Manidhar1'

In [22]:
1+'2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
1+int('2')

3

In [26]:
### Conditional statements
## if and elif
a=int(input("Enter number 1 :"))
b=int(input("Enter number 2 :"))
c=a-b
if c<0:
    print("The number is negative")
else:
    print("The number is positive")

Enter number 1 :5
Enter number 2 :5
The number is positive

In [28]:
a=int(input("Enter number 1 :"))
b=int(input("Enter number 2 :"))
c=a-b
if c<0:
    print("The number is negative")
elif c>40:
    print("The difference is huge")
else:
    print("The number is positive")

Enter number 1 :39
Enter number 2 :38
The number is positive

### Data Structures
 1. list
 2. tuple
 3. string
 4. Dictionary
 5. Sets

In [32]:
lst=[1,2,3,"Manidhar","Karnatakam"]

In [33]:
lst

[1, 2, 3, 'Manidhar', 'Karnatakam']

In [34]:
lst[3]

'Manidhar'

In [35]:
type(lst[3])

str

In [36]:
type(lst)

list

In [37]:
lst1=list([1,2,3,"Manidhar","Karnatakam"])

In [38]:
lst1

[1, 2, 3, 'Manidhar', 'Karnatakam']

In [39]:
type(lst1)

list

In [40]:
lst.append("StudyML")

In [41]:
lst

[1, 2, 3, 'Manidhar', 'Karnatakam', 'StudyML']

In [42]:
lst[2]="Data Science"

In [43]:
lst

[1, 2, 'Data Science', 'Manidhar', 'Karnatakam', 'StudyML']

In [44]:
lst.append("Manidhar")
lst.append("Manidhar")

In [45]:
lst.count("Manidhar")

3

In [46]:
lst.count("StudyML")

1

In [47]:
lst.count("Java")

0

In [48]:
# Indexing
str1="Manidhar"
str1

'Manidhar'

In [49]:
str1[3]

'i'

In [51]:
## String is immuntable
str1[3]="I"

TypeError: 'str' object does not support item assignment