In [1]:
print("This is my first python program")

This is my first python program

Notes:
1. To execute teh current cell use shift+Enter or ctl+Enter[You will get to know the difference]
2. Go to the function and press Shift + Tab for default document

In [5]:
# single line comment
"""
Multi line 
comments
"""
'''
This is also 
multi
line comment
'''

'\nThis is also \nmulti\nline comment\n'

Variables

In [1]:
a=10
a

10

In [3]:
type(a) # type of variable

int

In [7]:
b="manidhar" # single quote or double quotes is treated as string
print(b)
type(b)

manidhar

str

In [8]:
a,b=100,"Manidhar Kumar" # approach to create multiple variables in a single line

In [9]:
print(a,b)

100 Manidhar Kumar

In [11]:
1b=50 # fails because variable name cannot start with number

SyntaxError: invalid syntax (<ipython-input-11-6d1d9c1be289>, line 1)

In [13]:
@s=90 #except _ variable cannot start with special characters

SyntaxError: invalid syntax (<ipython-input-13-19572fcfbc06>, line 1)

In [14]:
_b=80

In [15]:
_b@=80 # is not valid as variable should not contain special charcters other than _

TypeError: unsupported operand type(s) for @=: 'int' and 'int'

In [16]:
a=1.6
type(a)

float

In [17]:
b,c=True,False
type(b)

bool

In [21]:
print(b+c)
print(b+b)
print(c+c)
print(True+True+True+False+True)
print(False-True+True)

1
2
0
4
0

In [25]:
print(True*True)
print(True/False)

1

ZeroDivisionError: division by zero

In [28]:
n=45+6j # if we use other than j in the imaginary part it will throw the error
type(n)

complex

In [29]:
print(n.real)
print(n.imag)

45.0
6.0

Python is a Dynamic programming language

In [30]:
1+"manidhar"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
1+'1' # This is called strong typing

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
2+int('1')

3

In [36]:
1+1.0 # this is called upcasting. Here int is converted to float

2.0

In [41]:
"manidhar "+"manidhar "+"manidhar "

'manidhar manidhar manidhar '

In [42]:
"manidhar "*3

'manidhar manidhar manidhar '

In [43]:
"mani" * "mani"

TypeError: can't multiply sequence by non-int of type 'str'

In [44]:
a=input()

10

In [46]:
type(a) # because by default input will return the string

str

Q1) take the integer input from the user (input variables a,b,c)
Q2)  (a+b)/c
Q3) concate it with complex variable
Q4) concate it with your name

In [58]:
a,b,c=int(input("Enter Integer Value ")),int(input("Enter Integer Value ")),int(input("Enter Integer Value "))
print((a+b)/c)
print((a+b)/c +45+6j)
print(str((a+b)/c +45+6j) + "Manidhar")

Enter Integer Value 32
Enter Integer Value 21
Enter Integer Value 10
5.3
(50.3+6j)
(50.3+6j)Manidhar

# Conditional Statements

In [59]:
a=int(input("Input a number less than 34: "))

Input a number less than 34 10

In [60]:
if a <34:
    pass # does nothing

In [62]:
a=int(input("Input a number less than 34: "))
if a<34:
    print('You entered right value')

Input a number less than 34: 4
You entered right value

In [63]:
a=int(input("Input a number less than 34: "))
if a<34:
    print('You entered right value')
else:
    print("You have entered the value greater than 34")

Input a number less than 34: 90
You have entered the value greater than 34

In [65]:
a=int(input("Input a number less than 34: "))
if a<34:
    print('You entered right value')
elif a<100:
    print("Value entered is less than hundred")
else:
    print("You have entered the value greater than 34")

Input a number less than 34: 90
Value entered is less than hundred

In [67]:
salary=int(input("Enter your salary"))
if salary <100:
    print("I will not by anything")
elif salary <500:
    print("I will by a bike")
elif salary<1000:
    print("I will buy a car")
else:
    print("Plan saving")

Enter your salary4000
Plan saving

In [72]:
salary=int(input("Enter your salary : "))
if salary >1000:
    print("Your salary is good")
    if salary >50000:
        print("Prefer Hundai Car")
    elif salary > 10000:
        print("Prefer Maruthi")
    elif salary > 5000:
        print("Prefer Nano")
    else:
        print("I will rent a car")
elif salary <500:
    print("I will by a bike")
elif salary<1000:
    print("I will buy a car")
else:
    print("Plan saving")

Enter your salary : 50001
Your salary is good
Prefer Hundai Car

In [73]:
a=10
b=20

if a==10 and b==20:
    print("this is a valid statement")

this is a valid statement

In [74]:
a==10 and b==20

True

In [76]:
a=10
b=20

if a==10 and b>20:
    print("this is a valid statement")
else:
    print("condition not satisfied")

condition not satisfied

In [77]:
a=10
b=20

if a==10 and b>20:
    print("this is a valid statement")
elif a==10 or b<20:
    print("The or condition satisfied")
else:
    print("condition not satisfied")

The or condition satisfied

Q) Take input from your keyboard as your first name and last name and then try to validate by writing multiple conditions

In [81]:
fname=input("Enter your first name ")
mname=input("Enter your middle name ")
lname=input("Enter your last name ")

if fname=='Manidhar' and lname=='Karnatakam':
    if lname=='Karnatakam' or mname=='Kumar':
        print("Hello Admin")
else:
    print("Hello Guest")

Enter your first nameManidhar
Enter your middle nameKarnatakam
Enter your last nameKarnatakam
Hello Admin